<header class="hero is-success">
  <div class="hero-body">
    <h1 class="title">Pokemons</h1>
    <p class="subtitle">Demonstration of <strong>CollecType</strong> as a collection engine in <strong>Angular</strong>.</p>
  </div>
</header>

<main class="section">
  @if (collection().count === 0) {
    <div class="container">
      <p class="has-text-centered">No Pokémon found.</p>
    </div>
  } @else {
    <div class="container">

      <app-generation-stats
      class="is-hidden-touch"
      [pokemons]="collection().items"
      [current]="generation()"
      (change)="handleGenerationChange($event)" />

      <app-pokemon-stats class="mb-6" [pokemons]="filtered().items" />

      <div class="block mb-5">
        <app-filter-navbar
          [current]="expression()"
          [count]="filtered().count"
          (change)="handleExpressionChange($event)" />
      </div>

      <app-filter-breadcrumb class="mb-5 is-hidden-mobile" [info]="filtered().info" />

      <app-pokemon-type-stats class="is-hidden-touch" [pokemons]="filtered().items" />

      <app-sort-navbar class="mb-5"
        [sortField]="sortField()"
        [sortDir]="sortDir()"
        (change)="handleSortChange($event)" />

      <hr />

      <app-pagination-bar
        [info]="paginated().info"
        (change)="handlePageChange($event)" />

      <div class="fixed-grid has-1-cols-mobile has-4-cols-tablet has-5-cols-desktop">
        <div class="grid">
          @for (pokemon of paginated().items; track pokemon.id) {
            <div class="cell">
              <app-pokemon-card [pokemon]="pokemon" />
            </div>
          }
        </div>
      </div>
    </div>
  }
</main>
